<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos básicos y scripts -->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/customsum.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>
    <title th:text="${titulo}">Resumen</title>
</head>

<body>
    <nav class=" navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand " href="# ">Parcial 2</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
    </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="nav-link " href="/">Inicio</a>
                </li>
                <li class="nav-item " th:if="${inicio}">
                    <a class="nav-link " href="/todo" th:if="${inicio.rol == 'admin'}">Todos los Acortadores</a>
                </li>
                <li class="nav-item " th:if="${inicio}">
                    <a href="/admin" class="nav-link" th:if="${inicio.rol == 'admin'}">Administrar</a>
                </li>
                <li>
                    <!--inicio para poder ocultar y/o mostrar inicio de sesión-->
                    <a href="/login " class="nav-link " th:unless="${inicio}">Iniciar sesión</a>
                    <a href="/salir " class="nav-link " th:if="${inicio}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="content ">
        <div class="container-fluid ">
            <hr>
            <div class="content">
                <div class="col-md-12 ">
                    <div class="card ">
                        <div class="card-header card-header-primary ">
                            <h4 class="card-title ">Gráfico</h4>
                            <p th:if="${ultima}" class="card-category ">Gráfico Visitas / Tiempo. Código QR generado para el gráfico.</p>
                            <p th:unless="${ultima}" class="card-category ">Sin visitas. Use el Código QR para visitar la página del acortador.</p>
                        </div>
                        <div class="card-body ">
                            <div class="outer">
                                <div id="qrcodea" class="inner">
                                </div>
                            </div>
                            <br>
                            <div th:if="${ultima}" class="outer">
                                <div class="inner">
                                    <th:block th:insert="templates/grafico.html :: graph">
                                    </th:block>
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary">Gráfico QR</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="col-md-12 ">
                    <div class="card ">
                        <div class="card-header card-header-primary ">
                            <h4 class="card-title ">Información</h4>
                            <p th:if="${ultima}" class="card-category ">Datos generales y Código QR de la página.</p>
                            <p th:unless="${ultima}" class="card-category ">Sin visitas. Código QR hacia la página.</p>
                        </div>
                        <div class="card-body container">
                            <div class="outer">
                                <div id="qrcodeb" class="inner">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Link</label>
                                                    <!--No modificar el username-->
                                                    <input th:value="${link}" id="link" name="link" type="text" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Acortador</label>
                                                    <input th:value="${acortador}" id="acortador" name="acortador" type="text" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Visitas</label>
                                                    <input th:value="${cantidadVisitas}" id="visitas" name="visitas" type="text" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:if="${visitas}" class="content">

                                <div class="row">
                                    <div class="col-md-12">
                                        <hr>
                                        <h3 style="text-align: center;">Últimas visitas.</h3>
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th class="col-md-3">
                                                    Navegador
                                                </th>
                                                <!--Si no es admin-->
                                                <th class="col-md-3">
                                                    Sistema Operativo
                                                </th>
                                                <th class="col-md-3">
                                                    IP
                                                </th>
                                                <th class="col-md-3">
                                                    Tiempo
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr th:each="visita : ${visitas}">
                                                    <form action="/eliminarusuario" method="POST">
                                                        <td th:text="${visita.browser}">
                                                            Google Chrome
                                                        </td>
                                                        <td th:text="${visita.operativeSystem}">
                                                            Username
                                                        </td>
                                                        <td th:text="${visita.ipAddress}">
                                                            Windows
                                                        </td>
                                                        <td th:text="${visita.time}">
                                                            00:00
                                                        </td>
                                                    </form>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary">Página QR</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br><br><br>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer ">
        <div class="container text-center ">
            <script>
                document.write(new Date().getFullYear())
            </script>,
            <a class="text-reset fw-bold " href="https://github.com/20170945/ISC-415-Parcial-2">Audric y Zhen</a>
        </div>
    </footer>
    <!-- Footer -->


    <script th:inline="javascript">
        var qrcodea = new QRCode(document.getElementById("qrcodea"), {
            width: 250,
            height: 250
        });
        var qrcodeb = new QRCode(document.getElementById("qrcodeb"), {
            width: 250,
            height: 250
        });

        // Esto es para el gráfico
        function makeCodeA() {
            var texto = /*[[${direcciona}]]*/ 'www.google.com';

            qrcodea.makeCode(texto);
        }
        // Esto es para el código de la página
        function makeCodeB() {
            var texto = /*[[${direccionb}]]*/ 'www.youtube.com';

            qrcodeb.makeCode(texto);
        }

        $(document).ready(function() {
            //alert("1: " + $('qrcodea').innerWidth() + " " +
            //    $('qrcodea').innerHeight() + "; 2: " +
            //    $('qrcodeb').innerWidth() + " " + $('qrcodeb').innerHeight());
            setTimeout(500);
            makeCodeA();
            makeCodeB();
            //alert("1: " + $('qrcodea').innerWidth() + " " +
            //    $('qrcodea').innerHeight() + "; 2: " +
            //    $('qrcodeb').innerWidth() + " " + $('qrcodeb').innerHeight());
        });
    </script>
</body>

</html>